################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/DotNetty_Server
/Authority.Controllers/bin/Debug/net5.0
/Authority.Controllers/obj
/Authority.DependencyInjection/bin/Debug/net5.0
/Authority.DependencyInjection/obj
/Authority.Domain/bin/Debug/net5.0
/Authority.Domain/obj
/Authority.MemoryRepository/bin/Debug/net5.0
/Authority.MemoryRepository/obj
/Authority.Service/bin/Debug/net5.0
/Authority.Service/obj
/Authority.ServiceImpl/bin/Debug/net5.0
/Authority.ServiceImpl/obj
/ClassLibrary1/obj
/Domain/bin/Debug/net5.0
/Domain/obj
/DotNetty_CommandBus/bin/Debug/net5.0
/DotNetty_CommandBus/obj
/DotNetty_CommandHandlers/bin/Debug/net5.0
/DotNetty_CommandHandlers/obj
/DotNetty_Commands/bin/Debug/net5.0
/DotNetty_Commands/obj
/DotNetty_Common/bin/Debug/net5.0
/DotNetty_Common/obj
/DotNetty_ControllerBus/bin/Debug/net5.0
/DotNetty_ControllerBus/obj
/DotNetty_Server/bin/Debug/net5.0
/DotNetty_Server/obj
/DotNetty_Server_Core/bin/Debug/net5.0
/DotNetty_Server_Core/obj
/DotNetty_Server_CoreImpl/bin/Debug/net5.0
/DotNetty_Server_CoreImpl/obj
